<div class="main-container">
  <div class="row g-0">
    <div
      class="col-lg-6 col-md-6 col-sm-6 mx-auto d-flex flex-column align-items-center"
    >
      <img
        src="assets/images/logo.svg"
        class="logo"
        alt="Logo_image"
        height="200"
      />
      <form [formGroup]="loginform" (submit)="login(this.loginform.value)">
        <div class="mb-3 d-flex flex-column">
          <mat-label>Username</mat-label>
          <mat-form-field floatLabel="never">
            <input
              type="text"
              matInput
              formControlName="username"
              #username
              (input)="checkMobile($event.target.value)"
              placeholder="Enter Username"
            />
            <mat-error>Invalid username.</mat-error>
          </mat-form-field>
          <mat-label>Password</mat-label>
          <mat-form-field floatLabel="never">
            <input type="text" matInput formControlName="password" #password placeholder="Enter Password"/>
            <mat-error>Invalid password.</mat-error>
          </mat-form-field>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <div class="note">
        <a (click)="open()">Create not account</a>
      </div>
    </div>
  </div>
</div>
